.title {
  color: #039;
  font-weight: normal;
}

.settlements {
  width: 90%;
  border-collapse: collapse;
}

.settlementTitle {
  width: 40%;
  padding: 0.5rem 0.7rem;
}

.settlementAmount {
  width: 20%;
  text-align: right;
  padding: 0.5rem 0.7rem;
}

.settlement:nth-child(odd) {
  background: #eef;
}

.adjustment {
  color: #009;
}

.total {
  background: #ccf;
  font-weight: bold;
}
