.newForm {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-content: flex-end;
        align-items: flex-end;
        position: relative;
}

.toggleButton {
        display: block;
        width: 8rem;
}

.form {
        background: #fff;
        border: 1pt #ccc solid;
        padding: 1rem;
        position: absolute;
        top: 2rem;
}

.formBody {
        display: flex;
        display: -webkit-flex;
        width: 20rem;
        flex-wrap: wrap;
        justify-content: flex-end;
}

.inputLabel {
        width: 20%;
        border-bottom: solid #ccc 1pt;
        margin: 0 0 1rem 0;
        color: #666;
}

.inputField {
        width: 80%;
        border-bottom: solid #ccc 1pt;
        margin: 0 0 1rem 0;        
}

.inputInput {
        border: none;
        width: 100%;
        outline: none;
}

.submitButton {
        display: block;
        margin: -0.5rem auto 0;
        width: 8rem;
}
